/*  hlstatsz.css 2025
 *  https://SnipeZilla.com
 */
html.dark {
  font: 90%/1.5em system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif !important;
  position: relative;
  background-color: #212529;
  color: #dae0e7;
  padding:8px;
}
html.dark body {
  max-width:1380px;
  margin:0 auto;
}
.hlz-title {height:39px;border-bottom:1px solid rgb(64, 67, 70);position:relative}
.hlz-title ul{position:relative}
.hlz-menu li img.hlz-logo {height:20px}
.hlz-menu li img{height:24px;cursor:pointer}
.hlz-menu.txt li{font-size:15px;position:relative;top:2px}
.hlz-menu {display:inline-block;list-style-type:none;margin:0;padding:0}
.hlz-menu li {display:inline-block;height:34px;margin:0 12px 0 0;vertical-align:middle}
.hlz-menu li.hlz-active {border-bottom: 3px solid #0D6EFD;position:relative;height:35px;top:2px}
.hlz-menu.txt{clear:both;min-height:32px}
.hlz-menuicon{display:none}

@media screen and (max-width: 731px) {
   .hlz-profile {display:block!important}
  .charts {flex-direction:column!important}
  .chart {flex:100%!important}
  img{max-width:90vw}
  #players_wrapper,#clans_wrapper{max-width: 100vw}
  .hlz-profile .hlz-card .container{display:block}
  .hlz-profile .hlz-card .container .text-content{display:block;clear:left}
  .hlz-menuicon{display:block;cursor:pointer}
  div.hlz-menuicon div {
    width: 24px;
    height: 3px;
    background-color: #0d6efd;
    margin: 4px 0;
  }
  #hlz-games ul {
    position: absolute;
    padding: 0 8px 8px 8px;
    z-index:9999;
    display:none ;
    background:#111;
    top:40px;
    left:0;
    width:100%;
  }
  #hlz-games ul.visible {display: block}
  #hlz-submenu li a {
    display: block;
    padding: 0;
    text-decoration: none;
    line-height: 2.5em;
    color: #ffffff;
    width:100%;
  text-align:center;
  }
  .lastName{
    white-space:normal!important;
    max-width:128px!important
  }
}

.snipezilla{color:#ff0000}
#hlz-topstart.hlz-topstart{margin:0.75em}
#hlz-topstart{min-height:22px}
#hlz-topstart span,
#hlz-global span{font-weight:bold}
.hlz-game{color:#FFBB00}
.hlz-players{color:#6fbdc9}
.hlz-kills{color:#af986c}
.hlz-hs{color:#1a9f9f}
.hlz-deaths{color:#ffa0a0}
.hlz-server{color:#5cc8a4}
.hlz-percent{font-weight:100}
th:nth-child(1), td:nth-child(1) {text-align:left !important;min-width:64px}
td.dt-icon {width:64px;min-width:64px;max-width:64px;}
td.dt-icon.dt-type-numeric {width:92px;min-width:92px;max-width:92px;}
table.dataTable td.dt-icon img{
height: 18px;
float:right;
top: 2px;
position: relative;
}
td.dt-empty{text-align:center!important}
.status{
width:14px;
height:14px;
border-radius:50%;
margin:0 auto;
}
.status.ping{background:#595b5e}
.status.online{background:#3eb03e}
.status.warning{background:#f67200}
.status.offline{background:#b03e3e}

td em.hlz-rank {font-style:inherit;float:right}
/*#players th:nth-child(2) {width:310px}
#players th:nth-child(5) {width:220px}*/
div.dt-processing {position:fixed}
table.dataTable meter{width:90%}

/*table tr td:not(:nth-child(3n)) {white-space: nowrap;}*/
.lastName{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 280px;  
}
.connection_time{
white-space: nowrap;
}
table.dataTable>tbody>tr.selected a, a{
  color: inherit;
  text-decoration: inherit;
}
#servers a:hover{color:#a8c0dd}

tr.team_1 td {background:#365470}/*blu*/
tr.team_2 td {background:#7c363a}

#hlz-chat {
display:none;
height: 120px;
background: #262a2e;
margin: -20px 0 0 0;
padding: 12px;
overflow-y: scroll;
scrollbar-color: #212529 #999999;
resize: vertical;
min-height: 120px;
color:#48de48;
}
#hlz-chat span.chatter {color:#53d3ff;margin-right:12px;}


/*tr.team_1.css td {background:#4c4c4c}*/

/* Profile */
@media only screen and (max-width: 1000px) {
 .hlz-profile {
    grid-template-columns: 1fr!important;
  }
}

.hlz-profile {
  /*width: 95%;*/
  max-width: 1340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}
.hlz-profile.hlz-awards {
padding: 0 0 20px 0;
}
.hlz-profile div:empty{
  height:auto;
  min-height: 125px;
}

.hlz-item-1,.hlz-item-4,.hlz-item-6,.hlz-item-8 {
grid-column: 1/ span 2;
}
.hlz-item-3 {
grid-column: 1/ -1;
}
/* card */


.hlz-load{height:315px}
.hlz-card,.hlz-load {
  min-height: 100%;
  background: rgb(22,22,22);
  box-shadow: 0 2px 5px rgba(64, 67, 70,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ddd;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border:1px solid rgb(64, 67, 70);
}

.hlz-card:hover {
  box-shadow: 0 8px 10px rgba(64, 67, 70,0.8);
}
.hlz-card .avatarFull{
 max-width:166px; 
 float:left;
}
.tablerow{
display: table-row;
}
.tablerow div{
display: table-cell;
padding-right:1em;
}

.hlz-card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}


.hlz-card p { 
  flex: 1;
  line-height: 1.4;
}

/* typography */
h1 {
  font-size: 30px;
  margin: 0;
  color: #FFF;
  margin-top:2px;
 padding-right:1em;
}
span.online{
  font-weight: 100;
  color: #ddd;
  letter-spacing: .05em;
  font-size:0.5em;
  margin-left:1em;
}
h2 {
  font-size: 18px;
  margin: 0;
  color: #FFF;
  background:#7B2020;
  padding: 4px;
}
h2.daily {
 background:#20557C;
}
.gg img{
 filter: drop-shadow(0 0 47px yellow) brightness(120%);
}
.gw img{
 filter: drop-shadow(0 0 47px SkyBlue) brightness(120%);
}
h3 {
  font-size: 16px;
  margin: 0;
  color: #FFF;
  padding: 0;
}
.favoritegroup {
display:flex;
grid-gap:1.5em
}
.favoritegroup .value{
font-size: 1.1em;
}
.favoritegroup .label{
color:#ccc;
}
.hlz-card meter {
  width:90%;
  height:32px;
}

.hlz-card span {
  font-weight: bold;
  color: #eee;
  letter-spacing: .05em;
}
span.red{
color:red;
}

span.green{
color:green;
}
.container{
 display: flex;
 align-items: flex-start;
 padding: 1em;
}

.container img {
 float: left;
 margin-right: 15px;
 border:2px solid #404346;
}

.text-content {
 display: flex;
 flex-direction: column;
 position:relative;
}

.rank{
font-size:1.5em;
color:red;
font-family:math;
color:white;
}
.rank.first{
color:yellow;
}
.rank.second{
color:DeepSkyBlue;
}
.rank.third{
color:cyan;
}
.rank.top30{
color:red;
}

.charts {
  display: flex;
  flex-direction: row;
}
.chart, .lchart {
flex: 50%;
}

.awards {
 display: flex;
 flex-wrap: wrap;
 column-gap:1em;
justify-content:center;
}

.award {
display: flex;

width: 86px;
height:86px;
}
.award img{
 max-width:64px;
 margin:auto;
}
.weapon {
 display: flex;
}
.weapon img{
 padding:28px;
 max-width:128px;
 margin:auto;
}
.tablerow .z{
color:#FFF;
}
.tablerow a{
color:#FFF;
}
.tablerow a:hover{
color:#80b4ff!important;
}
.map{
padding:28px;
text-align:center;
margin:0 auto;
}
.map img{
width:95%;
padding:4px;
border:2px solid #404346;
}
.maptitle{
padding:5px;
text-align:center;
background:#404346;
}
#openmap{
height:380px;
width:100%;
border:2px solid #404346;
margin:0 auto;
}
.openmap-name{
font-size:1.1em;
font-weight:900;
color:#0d6efd;
margin-right:12px;
}
.openmap-server{
font-size:1.0em;
font-weight:600;
color:#9C0000;
margin-bottom:12px;
}
.openmap-city{
font-weight:500;
}
.openmap-country{
font-weight:600;
}
.leaflet-popup-content-wrapper{
max-height:240px;
overflow-y:auto;
white-space:nowrap;
}

tr.odd td:first-child,
tr.even td:first-child {padding-left: 4em}

.clan-tag{color:#ffa8b9}

.award-item{
display: grid;
margin: 0.5em 0;
background: #1b1b1b;
padding: 10px;
border-radius: 5px;
border: 1px solid #404346;
width:175px;
font-size:0.85em;
}
.award-img{
grid-column: 1;
justify-self: center;
margin:1em;
}
.awards-text {
grid-column: 2;
justify-self: left;
}

#hlz-profile2{position:relative;margin: 0 auto 24px}
h2.hlz-profile2 {background:#0D6EFD;padding:8px}
#profile-award {background:#000}

.close {
  position: absolute;
  right: 12px;
  top: 6px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  cursor:pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 4px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#maps div.download{margin:0 auto;text-align:center;cursor:pointer}
#maps span.map{font-weight:600;font-size: 1.05em;color:#23d425}
#maps tr th:nth-child(7), #maps tr td:nth-child(7){width:1%}
#maps tr th:nth-child(2), #maps tr td:nth-child(2){width:30%}
#maps tr th:nth-child(1), #maps tr td:nth-child(1){width:1%}


.copyright{text-align:center}
